body {
    background-color: aqua;
}



.grid{
    display: grid;
    /* grid-template-areas:
     "image1 image1 image1"
     "image1 image1 image1"
     "image1 image1 image1"; */
     height: max-content;
     width: max-content;
     grid-template-columns: repeat(3, 200px);
     padding: 30px;
     
  

    justify-content: center;
    align-content: center;
}

.image1{
   
    height: auto;
    width: 100%;
    border: solid beige;
   
    
   

}

@media screen and (max-width: 500px) {
.grid {
    display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
}

.image1{
    height: 200px;
    width: 200px;
    border: solid black;
}


}
    
