<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1>To Do List App</h1>
    <form class="button"    id="form"> 
        <input class="task" type="search" id="query" name="q" placeholder="Submit Task..">
        <button>Submit Task</button>
        <input class="id" type="search" id="query" name="q" placeholder="Enter an ID..">
        <button class="Delete">Delete Task</button>
        <button class="View">View Task</button>
        <input class="taskToUpdate" type="search" id="query" name="q" placeholder="Enter new task..">
        <button class="Update">Update Task</button>
      </form>
      <div>
        
        
      </div>
<div>
    ${newtask.map(newtask => `  <h3>ID:${newtask.id}</h3> <h3>Task:${newtask.task}</h3> `).join('')} 
</div>
      <!-- ${newtask.map(newtask => ` <h3>${newtask.id}</h3> <h3>${newtask.task}</h3> `).join('')}  -->
     
     
</body>
<script type="text/javascript" src="../js/getTodo.js"></script>

</html>