<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    ${head}
</head>
<body>
    <h1>Top Stocks: </h1>
    <div class="stockData">
        <div>
        <h4>Name: </h4>
        ${data.map(tableData => ` <h3>${tableData.name}</h3> `).join('')} 
    </div>
        <div>
        <h4>Ticker</h4>
        ${data.map(tableData => ` <h3>${tableData.ticker}</h3> `).join('')}
    </div>
    <div>
        <h4>Price</h4>
        ${data.map(tableData => ` <h3>${tableData.price}</h3> `).join('')}
    </div>
    <div>
        <h4>Industry</h4>
        ${data.map(tableData => ` <h3>${tableData.industry}</h3> `).join('')}
    </div>





    </div>

</body>
</html>