body{
    margin: 0%;
}
.navigationBar{
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 100%;
 background-color: black;
 align-items: center;
 justify-content: space-between;
  
}


.navbarLogo{
    width: 85px;
    height: 55px;
    margin-left: 10px;

}
.navbarIcons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 gap: 20px;
    align-items: center;
    margin: 20px;
}
.navbarIcon{
    color: white;
    /* width: 5px;
    height: 5px; */
}
.flxImage{
    width: 100%;
    height: 250px;
}
.flxImage2{
    display: none;
   
}

.saleImage{
   margin-top: 20px;
    width: 100%;
    height: 300px;

}
.saleImage2{
    display: none;
    
}
.flxImageTextDiv{
 position: absolute;
 top: 100px;
 height: 100px;
margin-left: 10px;  
}
.second-Section{
   display: flex;
   justify-content: end;
}
.saleImageTextDiv{
    position: absolute;
 top: 300px;
 height: 100px;
 text-align: left;
/* margin-left: 600px;   */
    /* margin-right: ; */
}
li{
    list-style-type: none;
}
.newArrivals{
    text-align: center;
}
.newArrivalsDiv{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row; */

}
.homePageShoeImages{
    height: 100px;
    width: 150px;
}
.productMainContainer{
    align-items: center;
    text-align: center;
}
.productContainer{
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    gap: 20px;
    
    
}
.productShoeDivs{
 display: flex;
flex-direction: column;
border: 1px solid black;
width: 225px;
font-size: 10px;
justify-content: center;
align-items: center;


}
.productPageImages{
    width: 200px;
    height: 150px;
}
@media only screen and (max-width: 650px){
    body{
margin: 0%;
    }
    .navigationBar{
        width: 100%;

    }
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .flxImage{
      display: none;
    }
 
    .flxImage2{
      display: block;
      width: 100%;
    }
    .saleImage{
        display: none;
    }
    .saleImage2{
        display: block;
        width: 100%;
    }
   .flxImageTextDiv{
       display: flex;
       flex-direction: column;
       top: 10px;
       text-align: center;
       margin-left: 150px;
       width: 200px;
       height: 200px;
       align-items: center;
       justify-content: center;
       position: relative;
       
   }
   .saleImageTextDiv{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    text-align: center;
    margin-right: 146px;

   }


   .second-Section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
    
 }
 .newArrivalsDiv{
     
     display: flex;
     flex-direction: column;
     margin-top: 20px;
 }

 }